.productPage {
    display: flex;
    gap: 16px;
    @media screen and (max-width: 768px) {
        flex-direction: column;

    }
    &__details{
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
}