.path {
    &__items {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        @media (max-width: 321px) {
            display: none;
        }
    }
    &__item {
    text-decoration: underline;
    font-size: 14px;
    color:#262626;
    font-weight: 400;
    line-height: 22px; 
    font-family: Roboto;
    };
    &__mobileItems {
        @media(min-width: 321px) {
            display: none;
        }
    }
}