.gallery {
    width: 100%;
    &__mainImg {
        width: 100%;
        max-width: 613.527px;
        height: 561.664px;
        background-repeat: no-repeat;
        background-position: center center;
        transition: transform 0.3s; /* Add a smooth transition effect */
        cursor: pointer;
        @media screen and (max-width: 320px) {
            width: 259px;
            height: 237px;
        }
    }
  
    &__images {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 16px;
            @media screen and (max-width: 768px) {
                display: none;
                }
    }

    &__image {
        background-size: cover;
        background-position: center;
        transition: transform 0.5s ease;
        cursor: pointer;
        width: 212px;
        height: 159px;
    }
    
}

.zoomed-in {
    transform: scale(1.1); /* You can adjust the scale value as needed */
  }