.productInfo {
    gap: 16px;
    display: flex;
    flex-direction: column;
    &__code {
        text-align: left;
        font-size: 38px;
        font-weight: 500;
        line-height: 46px;
        font-family: Roboto;
        letter-spacing: 0em;
    }

    &__about {
        font-size: 16px;
        font-weight: 400;
        text-align: left;
        line-height: 24px;
        font-family: Roboto;
        letter-spacing: 0em;
    }

    &__features {
        display: grid;
        font-size: 16px;
        font-weight: 400;
        text-align: left;
        line-height: 24px;
        letter-spacing: 0em;
        font-family: Roboto;
        grid-template-columns: 50% 50%;
        gap: 16px;
        list-style-image: url('../../../assets/icons/ellipse.svg');
    }

    &__price {
        font-size: 30px;
        font-weight: 500;
        line-height: 38px;
        letter-spacing: 0em;
        font-family: Roboto;
        text-align: left;
    }

}