.subtitle {
    color: var(--secondary-color-1, #595959);
    /* Body 14/regular */
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
}

header {
box-shadow: 0px 16px 20px 0px rgba(0, 0, 0, 0.02);
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFF;
    /* header shadow */
    padding: 16px 0 16px 0;

    &__block {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }

    &__block1 {
        &_language, &_currency {
            @media (max-width: 768px){
                display: none;
            }
        }
    }

    &__block2 {
        @media (max-width: 768px){
            display: none;
        }
    }

    &__block3 {
        &_hamburgerMenu {@media (min-width: 769px){
            display: none;
        }
    }
    }
}